<div class="container">
  <div class="row d-flex justify-content-center pt-5">
    <%= link_to 'Agregar Cliente', new_conversation_path, class:"btn btn-primary", style:"width: 200px"%>
  </div>
</div>